.character {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translate(-33%, -90%);

  width: 12%;

  transition: all 0.3s linear;

  &-avt {
    width: 100%;
    border: 3px solid red;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s linear;
    animation: pluse 0.5s ease-in-out infinite alternate forwards;
  }

  &-arrow {
    width: 50%;
    transition: all 0.3s linear;
    animation: idle-y 0.5s ease-in-out infinite alternate forwards;
  }
}