.scene {
  position: relative;
  margin-top: 15vh;
  animation: scene-idle-y 3s linear infinite alternate forwards;

  &-map {
    img {
      transform: scale(1.35) translateY(2%);
    }
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;

    .slot {
      position: absolute;
      height: 3.5%;
      width: 4%;
      border: 4px solid rgba(4, 0, 255, 1);
      border-radius: 50%;
    }
  }
}