.user-level {
  position: absolute;
  width: 100%;
  bottom: 12%;

  &-bar {
    background-color: #00000084;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &-process {
    background-color: #272A2F;
    border: 2px solid #ffffff;

    &-value {
      transition: all 0.5s ease-in-out;
      background: linear-gradient(90deg, rgba(255,204,1,1) 0%, rgba(255,123,0,1) 100%);
    }
  }
}