.menu-bar {
  position: absolute;
  display: flex;
  width: calc(100% - 24px);
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../../../../public/images/bar-bg.png) center center no-repeat;
  background-size: 100% 100%;

  padding-top: 35px;
  padding-bottom: 35px;

  &-item {
    width: 20%;
    display: flex;
    justify-content: center;
  }
}