* {
    font-family: 'Roboto', sans-serif;
}

#app {
    position: relative;
    margin: auto;
    max-width: 460px;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    box-sizing: border-box;

    background: linear-gradient(180deg, rgba(242,244,255,1) 0%, rgba(152,169,254,1) 100%);
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a,
a:active,
a:hover {
    text-decoration: none;
    color: $white;
}

a:-webkit-any-link:focus-visible {
    outline-offset: 0px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.primary-gold {
    color: var(--primary-gold);
}

.text-1 {
    font-size: 1em;
}

.text-2 {
    font-size: 1.2em;
}

.text-3 {
    font-size: 1.3em;
}

.text-4 {
    font-size: 1.4em;
}

.text-5 {
    font-size: 1.5em;
}

.primary-button {
    padding: 10px;
    background-color: red;
    display: inline-flex;

    position: absolute;
}

.mono-container {
    padding-left: 10px;
    padding-right: 10px;
}

.backdrop-blur-3xl {
    background-color: #00000075;
}