@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/_variables.scss";
@import "./styles/_globals.scss";
@import "./styles/_animations.scss";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--mono-black);
  color: var(--mono-white);
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}